name: Deploy Laravel Project
run-name: Deploy by @${{ github.actor }}

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: get dir
        run: |
          pwd

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

#      - name: Log in to DockerHub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t local/test:latest . --cache-from local/test:latest
          docker save -o test-latest.tar local/test:latest



  deploy:
    runs-on: self-hosted
    needs: build

    steps:
      - name: get dir
        run: |
          pwd

      - name: Deploy to server
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker load -i test-latest.tar
          cd ../../../../work
          docker-compose down
          docker-compose up -d --build
