name: Deploy Laravel Project
run-name: Deploy by @${{ github.actor }}

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

#      - name: Log in to DockerHub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log
        run: |
          pwd
          ls -a ../../../../


  #      - name: Build and push Docker image
  #        uses: docker/build-push-action@v6
  #        with:
  #          context: .
  #          push: true
  #          tags: rezasiahcheshm/test:latest

  deploy:
    runs-on: self-hosted
    needs: build

    steps:

      - name: Install Docker and Docker Compose on server
        env:
          SERVER_SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          SERVER_ADDRESS: ${{ secrets.SERVER_ADDRESS }}
          SERVER_USERNAME: ${{ secrets.SERVER_USERNAME }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
            sudo apt update
            sudo apt install -y docker.io docker-compose

      - name: Deploy to server
        env:
          SERVER_SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          SERVER_ADDRESS: ${{ secrets.SERVER_ADDRESS }}
          SERVER_USERNAME: ${{ secrets.SERVER_USERNAME }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            docker pull rezasiahcheshm/test:latest
            pwd
#            cd ~/work
#            docker-compose down
#            docker-compose up -d
