name: Deploy Laravel Project
run-name: Deploy by @${{ github.actor }}

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t local/test:latest . --cache-from local/test:latest
          docker save -o test-latest.tar local/test:latest

  deploy:
    runs-on: self-hosted
    needs: build

    steps:
      - name: Deploy to server
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          #          docker load -i test-latest.tar
        run: |
          rm -rf ../../../_work
          cd ../../../../work
          docker-compose down
          docker-compose up -d --build
          docker image prune -f
          docker container prune -f
          docker volume prune -f
